ruby.css {
  padding: 10px;
  margin: 15px;
}
ruby.css {
  font-size: 2rem;
}
ruby.css rt {
  font-size: 0.75rem;
}
ruby.css.under {
  ruby-position: under;
}
ruby.css.over {
  ruby-position: over;
}

.set {
  min-height: 100px;
}


.plate {
	min-width: 30px;
	height: 80px;
	font-size: 0.7rem;
	margin: 2px;
	background-color: #222;
	color: #fff;
	font-weight: 600;
}